/* font-family: 'Inter',
sans-serif;
font-family: 'Itim',
cursive; */

:root {
   --bg-color: #171836;
   --btn-bg-color: #F5443B;
}

body {
   font-family: 'Inter', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul, menu {
   margin: 0;
}

img {
   display: block;
   max-width: 100%;
   height: auto;
}

ul, menu {
   list-style: none;
   padding: 0;
}

a {
   font-style: inherit;
   text-decoration: none;
}

header {
   height: 80px;
}

.container {
   width: 1440px;
   margin-right: auto;
   margin-left: auto;
   padding-right: 120px;
   padding-left: 120px;
   background-color: var(--bg-color);
}

.header-container {
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: start;
   color: #fff;
}

.header-nav {
   display: flex;
   align-items: center;
   justify-content: start;
   margin-right: auto;
}

.header-logo {
   display: block;
   margin-right: 150px;
}

.header-list {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.header-item + .header-item {
   margin-left: 44px;
}

.header-link {
   color: inherit;
}

.lang-menu {
   color: #fff;
}

.lang-item {
   display: none;
}

.lang-item.shown {
   display: block;
}



