/* font-family: 'Inter',
sans-serif;
font-family: 'Itim',
cursive; */

:root {
   --bg-color: #171836;
   --btn-bg-color: #F5443B;
}

body {
   font-family: 'Inter', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul, menu {
   margin: 0;
}

img {
   display: block;
   max-width: 100%;
   height: auto;
}

ul, menu {
   list-style: none;
   padding: 0;
}

a {
   font-style: inherit;
   text-decoration: none;
}

header {
   height: 80px;
}

.container {
   width: 1440px;
   margin-right: auto;
   margin-left: auto;
   padding-right: 120px;
   padding-left: 120px;
   background-color: var(--bg-color);
}

.header-container {
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: start;
}

.header-nav {
   display: flex;
   align-items: center;
   justify-content: start;
   margin-right: auto;
      font-size: 14px;
      font-weight: 400;
      line-height: 17px;
      letter-spacing: 0em;
      text-align: left;
}

.header-logo {
   display: block;
   margin-right: 150px;
}

.header-list {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.header-item + .header-item {
   margin-left: 44px;
}

.header-link {
   color: rgba(255, 255, 255, 0.6);
}

.header-link.active {
   color: rgba(255, 255, 255, 1);
}

.lang-menu {
   color: rgba(209, 209, 215, 1);
      font-size: 12px;
      font-weight: 500;
      line-height: 18px;
      letter-spacing: 0em;
      text-align: left;
}

.lang-item {
   display: none;
}

.lang-item.shown {
   display: flex;
   align-items: center;
   margin-right: 30px;
   cursor: pointer;
}

.btn {
   color: #fff;
   background-color: var(--btn-bg-color);
   padding: 12px 32px;
   border-radius: 6px;
   cursor: pointer;
      font-size: 14px;
      font-weight: 700;
      line-height: 17px;
      letter-spacing: 0em;
      text-align: left;
}

.lang-item::after {
   margin-left: 5px;
   width: 34px;
      height: 24px;
   content: ' ';  
   
      background-image: url(../images/header-hero/lang.svg);
}

/* Hero section */

.hero-title {
      font-size: 56px;
      font-weight: 600;
      line-height: 73px;
      letter-spacing: -0.01em;
      text-align: left;
      color: rgba(255, 255, 255, 0.8);
      text-transform: capitalize;
      width: 484px;
      margin-bottom: 24px;
}

.hero-text {
      font-size: 18px;
      font-weight: 400;
      line-height: 27px;
      letter-spacing: 0em;
      text-align: left;
      color: rgba(255, 255, 255, 0.4);
      margin-bottom: 56px;
}

.hero-form {
   height: 68px;
      width: 506px;
      border-radius: 12px;
      position: relative;
      margin-bottom: 48px;
}

.hero-form__input {
   position: absolute;
   height: 100%;
      width: 100%;
      background-color: rgba(31, 33, 67, 1);
      padding: 0;
      border-width: 0;
}

.hero-form__label {
   position: absolute;
   color: rgba(255, 255, 255, 0.4);
   z-index: 1;
}

.hero-form__button {
   position: absolute;
   z-index: 1;
}

.hero-courses-list {
   width: 510px;
   display: flex;
   flex-wrap: wrap;
   justify-content: start;
}

.hero-courses-list__item {
   height: 37px;
   border-radius: 8px;
   border-width: 1px;
   border-color: rgba(154, 156, 203, 0.6);
   border-style: solid;
}

.hero-courses-list__item:not(:nth-child(3n)) {
   margin-right: 24px;
}

.hero-courses-list__item:nth-child(n + 4) {
   margin-top: 24px;
}

.hero-courses-list__link {
   height: 100%;
   padding: 8px 18px;
   color: rgba(154, 156, 203, 0.6);
      font-size: 14px;
      font-weight: 400;
      line-height: 21px;
      letter-spacing: 0em;
      text-align: left;
      text-decoration: none;
      display: block;
}




