/* font-family: 'Inter',
sans-serif;
font-family: 'Itim',
cursive; */

:root {
    --bg-color: #171836;
    --btn-bg-color: #f5443b;
}

body {
    font-family: 'Inter', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
menu {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul,
menu {
    list-style: none;
    padding: 0;
}

a {
    font-style: inherit;
    text-decoration: none;
}

header {
    height: 80px;
}

.container {
    width: 1440px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 120px;
    padding-left: 120px;
    background-color: var(--bg-color);
}

.header-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-right: auto;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
}

.header-logo {
    display: block;
    margin-right: 150px;
}

.header-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-item + .header-item {
    margin-left: 44px;
}

.header-link {
    color: rgba(255, 255, 255, 0.6);
}

.header-link.active {
    color: rgba(255, 255, 255, 1);
}

.lang-menu {
    color: rgba(209, 209, 215, 1);
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
}

.lang-item {
    display: none;
}

.lang-item.shown {
    display: flex;
    align-items: center;
    margin-right: 30px;
    cursor: pointer;
}

.btn {
    color: #fff;
    background-color: var(--btn-bg-color);
    padding: 12px 32px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
}

.lang-item::after {
    margin-left: 5px;
    width: 34px;
    height: 24px;
    content: ' ';

    background-image: url(../images/header-hero/lang.svg);
}

/* Hero section */

.hero-container {
    position: relative;
    padding-left: 800px;
    padding-top: 130px;
    padding-bottom: 210px;
    height: 944px;
    background-image: url(../images/hero/girl.png);
    background-repeat: no-repeat;
    background-position-y: 38px;
}

.hero-title {
    font-size: 56px;
    font-weight: 600;
    line-height: 73px;
    letter-spacing: -0.01em;
    text-align: left;
    color: rgba(255, 255, 255, 0.8);
    text-transform: capitalize;
    width: 484px;
    margin-bottom: 24px;
}

.hero-text {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 0.4);
    margin-bottom: 56px;
}

.hero-form {
    height: 68px;
    width: 506px;
    border-radius: 12px;
    position: relative;
    margin-bottom: 48px;
}

.hero-form__input {
    position: absolute;
    border-radius: 12px;
    height: 100%;
    width: 100%;
    background-color: rgba(31, 33, 67, 1);
    padding: 0;
    border-width: 0;
    color: rgba(255, 255, 255, 0.4);
    padding-right: 76px;
    padding-left: 20px;
}

.hero-form__label {
    position: absolute;
    color: rgba(255, 255, 255, 0.4);
    z-index: 1;
    transform: translateY(-50%);
    top: 50%;
    left: 32px;
    cursor: text;
    transition: all 250ms linear;
}

.hero-form__input:focus + .hero-form__label,
.hero-form__input:not(:placeholder-shown) + .hero-form__label {
    top: 0;
    left: 0;
    transform: translateY(-150%);
}

.hero-form__button {
    position: absolute;
    z-index: 1;
    height: 44px;
    width: 44px;
    border-radius: 6px;
    background-color: rgba(40, 43, 87, 1);
    border-style: none;
    transform: translateY(-50%);
    top: 50%;
    right: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-courses-list {
    width: 510px;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}

.hero-courses-list__item {
    height: 37px;
    border-radius: 8px;
    border-width: 1px;
    border-color: rgba(154, 156, 203, 0.6);
    border-style: solid;
}

.hero-courses-list__item:not(:nth-child(3n)) {
    margin-right: 24px;
}

.hero-courses-list__item:nth-child(n + 4) {
    margin-top: 24px;
}

.hero-courses-list__link {
    height: 100%;
    padding: 8px 18px;
    color: rgba(154, 156, 203, 0.6);
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    text-decoration: none;
    display: block;
}

.students-box {
    position: absolute;
    top: 677px;
    left: 395px;
    padding: 20px;
    border-radius: 20px;
    /* border: 2px solid;
   border-image-source: linear-gradient(180deg, rgba(63, 69, 141, 0.63) 0%, rgba(63, 69, 141, 0.14) 100%); */
    background-image: linear-gradient(
        180deg,
        rgba(76, 94, 157, 0.8) -32.08%,
        rgba(23, 24, 54, 0.8) 127.36%
    );
    display: flex;
    align-items: center;
    justify-content: center;
}

.students-box__list {
    width: 195px;
    height: 52px;
    position: relative;
    margin-right: 20px;
}

.students-box__item {
    position: absolute;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    border: 1px solid rgba(102, 104, 170, 1);
    background-color: #8087b8;
    background-image: url(../images/hero/plus.svg);
    background-position: center;
    background-repeat: no-repeat;
    top: 0;
}

.students-box__item--first {
    background-image: url(../images/hero/little-student-icon-1.png);
    background-position: center;
    background-repeat: no-repeat;
}

.students-box__item--second {
    background-image: url(../images/hero/little-student-icon-2.png);
    background-position: center;
    background-repeat: no-repeat;
    left: 36px;
    z-index: 2;
    border-style: none;
}

.students-box__item--third {
    background-image: url(../images/hero/little-student-icon-3.png);
    background-position: center;
    background-repeat: no-repeat;
    left: 72px;
    z-index: 3;
    border-style: none;
}

.students-box__item--forth {
    background-image: url(../images/hero/little-student-icon-4.png);
    background-position: center;
    background-repeat: no-repeat;
    left: 108px;
    z-index: 4;
    border-style: none;
}

.students-box__item--fifth {
    left: 144px;
    z-index: 5;
}

.students-box__text {
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;

    color: rgba(187, 187, 196, 1);
}

.students-box__text--red {
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;

    color: rgba(251, 80, 72, 1);
}

.hero-poster__icon {
    width: 90px;
    height: 90px;
    border-radius: 20px;
    position: absolute;
    background-image: linear-gradient(#4c5e9d, #171836);
    background-repeat: no-repeat;
    background-position: center;
}

.hero-poster__icon--book {
    top: 87px;
    left: 565px;

    background-image: url(../images/hero/book.svg),
        linear-gradient(#4c5e9d, #171836);
    transform: rotate(13deg);
}

.hero-poster__icon--lamp {
    top: 195px;
    left: 100px;
    background-image: url(../images/hero/lamp.svg),
        linear-gradient(#4c5e9d, #171836);
    transform: rotate(-9deg);
}

.hero-poster__circle {
    position: absolute;
    border-radius: 50%;
}

.hero-poster__circle--orange {
    background-color: rgba(231, 83, 83, 1);
}

.hero-poster__circle--yellow {
    background-color: rgba(231, 172, 83, 1);
}

.hero-poster__circle--blue {
    background-color: rgba(83, 231, 205, 1);
}

.hero-poster__circle--big {
    width: 8px;
    height: 8px;
}

.hero-poster__circle--medium {
    width: 6px;
    height: 6px;
}

.hero-poster__circle--small {
    width: 4px;
    height: 4px;
}

.hero-poster__circle--orange.hero-poster__circle--big {
    top: 147px;
    left: 87px;
}

.hero-poster__circle--orange.hero-poster__circle--medium {
    top: 791px;
    left: 364px;
}

.hero-poster__circle--orange.hero-poster__circle--small {
    top: 50px;
    left: 628px;
}

.hero-poster__circle--yellow.hero-poster__circle--big {
    top: 833px;
    left: 626px;
}

.hero-poster__circle--yellow.hero-poster__circle--medium {
    top: 223px;
    left: 229px;
}

.hero-poster__circle--blue.hero-poster__circle--big {
    top: 97px;
    left: 501px;
}

.hero-poster__circle--blue.hero-poster__circle--small {
    top: 791px;
    left: 771px;
}

/* Featured section */

.featured-container {
    padding-top: 102px;
    padding-bottom: 103px;
}

.featured-list {
    display: flex;
}

.featured-item {
    display: flex;
}

.featured-item + .featured-item {
    margin-left: 20px;
}

.featured-item__title {
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 23px;
    color: rgba(255, 255, 255, 0.7);
}

.featured-item__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 0.6);
}

.featured-icon-wrapper {
    width: 44px;
    height: 44px;
    margin-right: 20px;
    padding: 22px;
    border-style: solid;
    border-radius: 50%;
    border-width: 2px;
    background-position: center;
    background-repeat: no-repeat;
}

.friends {
    background-image: url(../images/features/friends.svg);
    border-color: rgba(255, 125, 125, 1);
}

.expert {
    background-image: url(../images/features/expert.svg);
    border-color: rgba(72, 184, 141, 1);
}

.access {
    background-image: url(../images/features/access.svg);
    border-color: rgba(184, 167, 77, 1);
}

/* Classes section */

.classes-container {
    padding-top: 66px;
    padding-bottom: 65px;
}

.section-title {
    font-size: 36px;
    font-weight: 600;
    line-height: 54px;
    letter-spacing: 0em;
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
    margin-bottom: 20px;
}

.classes-text {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(255, 255, 255, 0.4);
    margin-bottom: 85px;
}

.classes-list {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 50px;
}

.classes-item {
    width: 276px;
    padding-top: 12px;
    padding-right: 12px;
    padding-bottom: 20px;
    padding-left: 12px;
    background-color: rgba(30, 32, 67, 0.3);
    border-radius: 20px;
}

.classes-item:hover,
.classes-item:focus {
    padding-bottom: 24px;
}

.classes-item__img-wrapper {
    border-radius: 12px;
    position: relative;
    width: 252px;
    overflow: hidden;
    margin-bottom: 25px;
}

.classes-item__img {
    object-position: center;
    object-fit: cover;
}

.classes-item__video-count {
    position: absolute;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    padding: 6px 16px;
    border-radius: 8px;
    left: 10px;
    bottom: 10px;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
}

.classes-category {
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(59, 245, 189, 1);
    margin-bottom: 10px;
}

.classes-title {
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 10px;
}

.classes-desc {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 0.4);
    margin-bottom: 20px;
}

.teacher-box {
    display: flex;
    justify-content: start;
    align-items: center;
    padding-top: 20px;
    border-top: 1px solid rgba(41, 43, 86, 1);
}

.teacher-img {
    object-position: center;
    margin-right: 15px;
}

.teacher-box__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.teacher-name {
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 0.8);
}

.teacher-position {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 0.4);
}

.btn-wrapper {
    display: flex;
}

.access-btn {
    display: none;
}

.classes-item:hover .access-btn,
.classes-item:focus .access-btn {
    display: inline-block;
    padding: 12px 32px;
    background-color: rgba(245, 68, 59, 1);
    color: #fff;
    border-radius: 10px;
    margin-top: 28px;
    margin-right: auto;
    margin-left: auto;
}

.classes-btn {
    padding: 16px 32px;
    margin-right: auto;
    margin-left: auto;
    background-color: transparent;
    color: rgba(245, 68, 59, 1);
    border-style: solid;
    border-width: 1px;
    border-color: rgba(245, 68, 59, 1);
    border-radius: 6px;
    cursor: pointer;
}

/* Webinar section */

.webinar-container {
    padding-top: 109px;
    padding-bottom: 84px;
    display: flex;
    flex-direction: column;
}

.webinar-title {
    font-size: 36px;
    font-weight: 600;
    line-height: 54px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 20px;
}

.webinar-text {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(255, 255, 255, 0.4);
    margin-bottom: 105px;
}

.webinar-thumb {
    width: 622px;
    height: 424px;
    padding-top: 424px;
    margin: 0 auto;
    position: relative;
    background-image: linear-gradient(
            to bottom,
            rgba(23, 24, 54, 0.87) 0%,
            rgba(31, 33, 67, 0.4) 50%,
            rgba(23, 24, 54, 0.87)
        ),
        url(/images/webinar/video.png);
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    border-radius: 24px;
    margin-bottom: 56px;
}

.webinar-video-title {
    position: absolute;
    left: 43px;
    top: 27px;
    font-size: 20px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 0.7);
}

.webinar-icon__play {
    width: 94px;
    height: 94px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
}

.webinar-icon__play-triangle {
    width: 44px;
    height: 44px;
    position: absolute;
    top: 25px;
    right: 20px;
    fill: rgba(23, 24, 54, 0.81);
}

.webinar-video__timeline {
    position: absolute;
    top: 340px;
    padding-top: 8px;
    height: 8px;
    width: 100%;
    background-color: rgba(226, 226, 244, 0.3);
}

.webinar-video__timeline--red {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 264px;
    background-color: rgba(245, 69, 61, 1);
}

.webinar-video__timeline--round {
    position: absolute;
    top: 50%;
    left: 264px;
    transform: translate(-50%, -50%);
    width: 15px;
    height: 15px;
    background-color: rgba(245, 69, 61, 1);
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    border-color: rgba(254, 182, 182, 1);
}

.webinar-video__controls {
    position: absolute;
    top: 368px;
    width: 100%;
    height: 30px;
}

.webinar-video__time {
    display: inline-block;
    font-size: 20px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 0.7);
    position: absolute;
    top: 50%;
    left: 43px;
    transform: translate(0, -50%);
}

.webinar-icon__volume {
    position: absolute;
    width: 24px;
    height: 24px;
    right: 90px;
    top: 50%;
    transform: translate(-50%, -50%);
    stroke: rgba(255, 255, 255, 0.7);
}

.webinar-icon__maximize {
    width: 24px;
    height: 24px;
    position: absolute;
    right: 43px;
    top: 50%;
    transform: translate(-50%, -50%);
    fill: rgba(191, 191, 199, 1);
}

.webinar-link {
    align-self: flex-end;
    padding-right: 30px;
    display: flex;
    align-items: center;
}

.webinar-link__text {
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(209, 209, 215, 1);
    margin-right: 8px;
}

.webinar-link__icon {
    width: 12px;
    height: 12px;
    fill: rgba(209, 209, 215, 1);
}

/* Pricing section */

.pricing-container {
    padding-top: 85px;
    padding-bottom: 115px;
}

.pricing-title {
    font-size: 36px;
    font-weight: 600;
    line-height: 54px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 20px;
}

.pricing-text {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(255, 255, 255, 0.4);
    margin-bottom: 85px;
}

.pricing-list {
    display: flex;
    justify-content: space-between;
}

.pricing-item {
    padding: 40px 36px 36px 36px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    border-style: solid;
    border-width: 3px;
    border-radius: 20px;
    border-color: rgba(50, 52, 101, 0.5);
    background-image: linear-gradient(
        to bottom,
        rgba(32, 34, 70, 1) 0%,
        rgba(40, 43, 87, 0.31)
    );
}

.pricing-item__head {
    padding-bottom: 30px;
    border-bottom-style: solid;
    border-bottom-width: 1.5px;
    border-bottom-color: rgba(39, 41, 83, 1);
    display: flex;
    justify-content: start;
    align-items: center;
    width: 300px;
}

.pricing-item__icon-thumb {
    width: 56px;
    height: 56px;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
}

.pricing-item__icon-thumb--green {
    border-color: rgba(59, 245, 245, 1);
}

.pricing-item__icon-thumb--blue {
    border-color: rgba(59, 167, 245, 1);
}

.pricing-item__icon-thumb--orange {
    border-color: rgba(246, 132, 75, 1);
}

.pricing-item__head-text {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.pricing-item__name {
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 0.8);
}

.pricing-item__price {
    font-size: 11px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 0.8);
}

.pricing-item__price-dollar {
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(245, 69, 61, 1);
}

.pricing-item__price-amount {
    font-size: 28px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(245, 69, 61, 1);
}

.pricing-item__list {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 0.8);
    padding-top: 30px;
    padding-bottom: 30px;
}

ul.pricing-item__list > li::before {
    content: ' ';
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 50%;
    background-color: rgba(151, 153, 206, 1);
    margin-right: 10px;
}

ul.pricing-item__list > li:not(:last-child) {
    margin-bottom: 15px;
}

.pricing-item__btn {
    margin-top: auto;
}

.pricing-item__btn {
    width: 300px;
    height: 50px;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0em;
    cursor: pointer;
}

.pricing-item__btn--free,
.pricing-item__btn--express {
    background-color: transparent;
    border-style: solid;
    border-width: 1px;
    color: rgba(245, 68, 59, 1);
    border-color: rgba(245, 68, 59, 1);
}

.pricing-item__btn--free {
    opacity: 50%;
}

.pricing-item__btn--premium {
    background-color: rgba(245, 68, 59, 1);

    color: rgba(255, 255, 255, 1);
}

/* Apps section */

.apps-container {
    padding-top: 60px;
    padding-bottom: 100px;
}

.apps-background {
    border-radius: 40px;
    background-image: linear-gradient(
        102.01deg,
        #23265c 1.96%,
        #352a56 101.68%
    );
}
